# `All the life cycle in a data science life cycle`
- `1.` Data Analysis
- `2.` Feature Engg
- `3.` Feature Selection
- `4.` Model Building
- `5.` Model Deployment

### `1. Data Analysis Phase`

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [17]:
# TODO: Displaying all the columns of the dataset
pd.pandas.set_option('display.max_columns',None)

In [15]:
path = "C:\\Users\\user\\OneDrive\\Documents\\Data_Scientist\\Practice\\EDA_Practice\\Boston_Housing_Dataset\\archive\\boston.csv"
df = pd.read_csv(path)

In [18]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [19]:
df.shape

(506, 14)